
body {
    background: #108682;
    font-family: Arial;
}
h1 {
    color: red;
}
/* rKYHN1m5LxqIVGxMf9AZcYBLvkVVFEx3a2Kz0lrgdIBYsr7myJoVJVMZdpr3Te3zh7K0wfRgSUe9p5EPB9kPNWQD1uMJC1e2rrN7GynB5dPc9InsuRFAsK9QNCnXWglYkDfUiCr5TwHwBSaNG44Ps1MyDeEJqWKatEOrufsRF3a4GdxXPZsqdbGfw1ZX5XO935Grymuf */
